<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.example.gmalluser.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.example.gmalluser.bean.UmsMember">
        select u.* from ums_member u
    </select>
</mapper>